AI_API_KEY=INSERT API KEY HERE FROM GROQ
# IF YOU DON'T USE FREE GROQ MODEL OR ANY OTHER MODEL, CHANGE THE MODEL NAME BELOW
AI_API_MODEL=llama-3.3-70b-versatile
DEBUG=true
HOST=0.0.0.0
PORT=8000

CHROMA_DB_PATH=data/chroma
CACHE_PATH=data/cache

SCRAPER_TIMEOUT=30
SCRAPER_MAX_CHARS=500000

GRAPH_MAX_NODES=50
GRAPH_MAX_DEPTH=3

LOG_LEVEL=DEBUG
LOG_FILE=logs/app.log